* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
    /* max-width: 920px; */
    border: 1px solid gold;
	direction: rtl;
}
body {
    text-align: center;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    
}

nav {
    color: white;
    font-size: 0.8em;
    /* width: 25%;
    float: left; */
}
nav.main-nav {
    width: 100%;
    float: right;
    padding: 1em;
    margin-top: 0.8em;
}
nav > ul {
	padding: 0;
	margin: 0;
}
nav > ul, nav > ul > li {
	list-style: none;
	display: inline; 
	/*width: 250px;*/
}
nav > ul > li.top-nav > a, nav > ul > li.dropdown > a {
    /*width: 13.5%; /*120px*/
    width: auto;
    padding: 0 0.6em;
    font-size: 1em;
    float: right;
    border-right: 2px solid #c0c0c0;
    text-decoration: none;
    color: whitesmoke;
    /*left: 20px;*/
    /*display: block;*/
}
nav > ul > li > a:hover, .dropdown:hover > a {
	background-color: #000;
    /* color: white; */
}
nav > ul > li.top-nav > a.home-icon {
    /*width: 3.5%; /*120px*/
    border-right: initial;
}
/*nav > ul > li.top-nav > a, nav > ul > li.dropdown > a {
    width: 8em; /*120px*/
    /* font-size: 1em; */
    /*left: 20px;*/
    /*display: block;* /
}
nav > ul > li.nav-active > a {
	background-color: lightseagreen;
	color: black;
}
nav > ul > li > a {
    width: 200px;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0.8em; /*10px*/
    /*color: white;*/
    /*border: 1px solid white;*/
    /*background-color: #333;*/
    /*border-radius: 10%;* /
}

.dropdown {
    position: relative;
  }
  
  .dropdown-content {
    position: absolute;
    display: none;
    /* right: 0; * /
    left: 100%;
    top: 0;
    box-shadow: 0.25em 0.25em 0.25em 0em rgba(0,0,0,0.3);
  }
  
  .dropdown:hover > .dropdown-content {
    display: block;
    top: 0;
    width: inherit;
 } */

.div-nav {
    background-color:#909090;
}
.div-nav-logo {
    float: right;
    width: 12%;
    /* background-image: url(../images/paz_logo.png); */
}
/* .div-nav-logo > a {
    display: inline-block;
    width: 120px; /*142px;* /
    height: 78px; /*93px;* / 
    position: relative;
    bottom: -1em;
    background: url(../images/paz_logo.png) no-repeat 0 0;
    background-size: 100% 100%;
} */
.div-nav-logo > img {
    display: inline-block;
    width: 90%; /*142px;*/
    height: 90%x; /*93px;*/ 
    position: relative;
    bottom: -1.25em;
    /* background: url(../images/paz_logo.png) no-repeat 0 0;
    background-size: 100% 100%; */
}
/* .div-nav-logo > img {
    top: 10%
}
.div-nav-logo > a > img {
    top: 10%
} */
.div-nav-content {
    float: right;
    width: 88%;
}

/* #home {
    width: 17px;
    height: 15px;
    padding: 0 2px;
    /* left: 17px;
    width: 17px;* /
    /* background: url(../images/menu_home.png) -17px 0;  * /
    border-right: initial;
} */

main {
 width: 33.3%;
 float: right;
 background-color: aqua;
}

section {
    width: 33.3%;
    float: right;
    background-color: aquamarine;
}
.section-adv, .section-content {
    position: relative;
    z-index: 10;
    padding: 0.1em;
    /* float: right; */
}
.section-adv > img, .section-content > img {
    display: inline-block;
    width: 98%;
    border-bottom-right-radius: 10%;
}
.content-text {
    position: absolute;
    padding: 0.5em;
    width: 90%;
    height: 25%;
    right: 4%;
    /* bottom: 84%; */
    top: 70%;
    color: #fff;
    background-color: rgba(192, 192, 192, 0.6);
    border-bottom-right-radius: 10%;
    text-align: right;
    font-size: 63%;
    overflow: hidden;
}

footer {

}

h1 {

}
h2 {

}

h3 {
    /* font-size: 65%; */
}

ul {

}

ol {

}

li {

}


.main-div {
    width: 100%;
    padding-top: 1em;
}

.float-right {
	float: right;
}
.float-left {
	float: left;
}

.heb-text-justify {
    /* text-align: justify; */
    text-justify: inter-word;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}