* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
    max-width: 1280px;
    /* border: 1px solid gold; */
	direction: rtl;
}
body {
    text-align: center;
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    
}

nav {
    color: white;
    font-size: 0.7em;
    /* width: 25%;
    float: left; */
}
nav.main-nav, nav.footer-nav {
    width: 100%;
    float: right;
}
nav.main-nav {
    padding: 1em;
    margin-top: 0.8em;
}
nav.footer-nav {
    padding: 0.25em 3em;
    font-size: 60%;
    /* margin-bottom: 0.8em; */
}
nav > ul {
	padding: 0;
	margin: 0;
}
nav > ul, nav > ul > li {
	list-style: none;
	display: inline; 
	/*width: 250px;*/
}
nav > ul > li.top-nav > a, nav > ul > li.dropdown > a {
    /*width: 13.5%; /*120px*/
    width: auto;
    padding: 0 0.6em;
    font-size: 1em;
    float: right;
    border-right: 2px solid #c0c0c0;
    text-decoration: none;
    color: whitesmoke;
    /*left: 20px;*/
    /*display: block;*/
}
nav > ul > li > a:hover, .dropdown:hover > a, p.float-left > a:hover {
	background-color: #000;
    /* color: white; */
}
nav > ul > li.nav-active > a {
	background-color: lightseagreen;
	color: black;
}
nav > ul > li.nav-icon > a, nav > ul > li.fb-icon > a {
    /*width: 3.5%; /*120px*/
    border-right: initial;
}
nav > ul > li.fb-icon > a {
    margin-top: 0.25em;
    margin-left: 0.4em;
}
/*nav > ul > li.top-nav > a, nav > ul > li.dropdown > a {
    width: 8em; /*120px*/
    /* font-size: 1em; */
    /*left: 20px;*/
    /*display: block;* /
}
nav > ul > li > a {
    width: 200px;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0.8em; /*10px*/
    /*color: white;*/
    /*border: 1px solid white;*/
    /*background-color: #333;*/
    /*border-radius: 10%;* /
}

.dropdown {
    position: relative;
  }
  
  .dropdown-content {
    position: absolute;
    display: none;
    /* right: 0; * /
    left: 100%;
    top: 0;
    box-shadow: 0.25em 0.25em 0.25em 0em rgba(0,0,0,0.3);
  }
  
  .dropdown:hover > .dropdown-content {
    display: block;
    top: 0;
    width: inherit;
 } */

.div-nav, .div-footetr-nav {
    background-color:#909090;
}
.div-nav-logo {
    float: right;
    width: 12%;
    /* background-image: url(../images/paz_logo.png); */
}
/* .div-nav-logo > a {
    display: inline-block;
    width: 120px; /*142px;* /
    height: 78px; /*93px;* / 
    position: relative;
    bottom: -1em;
    background: url(../images/paz_logo.png) no-repeat 0 0;
    background-size: 100% 100%;
} */
.div-nav-logo > img {
    display: inline-block;
    width: 90%; /*142px;*/
    height: 90%x; /*93px;*/ 
    position: relative;
    bottom: -1.25em;
    /* background: url(../images/paz_logo.png) no-repeat 0 0;
    background-size: 100% 100%; */
}
/* .div-nav-logo > img {
    top: 10%
}
.div-nav-logo > a > img {
    top: 10%
} */
.div-nav-content {
    float: right;
    width: 88%;
}

.icon-facebook {
    width: 18px;
    height: 18px;
    background: url(../images/fb_icon.png) no-repeat 0 0; 
    border-right: initial;
}

main {
    width: 33.3%;
    float: right;
    /* background-color: aqua; */
}

section {
    width: 33.3%;
    float: right;
    /* background-color: aquamarine; */
}
.section-adv, .section-content {
    position: relative;
    z-index: 10;
    padding: 0.1em;
    /* float: right; */
}
.section-adv > img, .section-content > img {
    display: inline-table;
    width: 98%;
}
.div-adv-paz-stations > img {
    display: inline-block;
    width: initial;
}
.section-content > img {
    border-bottom-right-radius: 10%;
}
.content-text {
    position: absolute;
    padding: 0.5em;
    width: 90%;
    height: 25%;
    right: 4%;
    /* bottom: 84%; */
    top: 70%;
    color: #fff;
    background-color: rgba(192, 192, 192, 0.6);
    border-bottom-right-radius: 10%;
    text-align: right;
    font-size: 50%;
    overflow: hidden;
}
.section-adv {
    position: relative;
    z-index: 10;
    padding: 0.3em 0.1em;
    border: 2px solid rgb(224,224,224);
    border-top-right-radius: 10%;
    /* float: right; */
    font-size: 65%;
    margin: 0.3em;
    width: 32%;
}
.section-adv > h3 {
    padding: 0.5em;
    font-size: 99%;
}
.section-adv > hr {
    /* padding: 0.5em; */
    border-top: 0.1em solid rgb(224,224,224);
    width: 85%;
    /* size: 5px; */
}
footer {

}

h1 {

}
h2 {

}

h3 {
    /* font-size: 65%; */
}

ul {

}

ol {

}

li {

}

p.float-left {
    padding-bottom: 12px;
}
.div-content-expand > p.float-left > a {
    text-decoration: none;
    color: whitesmoke;
    /* padding-bottom: 12px; */
}
.div-content-expand {
    position: relative;
}
.div-adv-expand > p.float-left > a {
    text-decoration: none;
    color: initial;
    /* padding-bottom: 12px; */
}
.div-adv-expand > p.float-left > a:hover {
    /* text-decoration: none;
    color: initial; */
    background-color: antiquewhite;
    /* padding-bottom: 12px; */
}
.div-adv-expand > ul > li {
    list-style: none;
    text-align: left;
}
.div-adv-expand > ul > li > a {
    text-decoration: none;
    color: initial;
	/* display: block;  */
}
.paz-retail-and-trade > a:hover:after {
    content: "רשת תחנות התדלוק של פז היא הגדולה בישראל, ומונה כ-275 תחנות תדלוק ברחבי הארץ. מתוכן, כ-50 משמשות גם כמתחמים קמעונאיים ("פז סנטר"), ובכ- 235 מהן פועלות חנויות נוחות תחת המותג Yellow.";
    display: block;
    position: absolute;
    /* font-size: larger; */
    left: 25%;
    bottom: 50%;
    /* width: 150%;
    height: 150%; */
    background-color: brown;
}
.div-adv-paz-stations {
    width: 50%;
}





.main-div {
    width: 100%;
    padding-top: 1em;
}

.float-right {
	float: right;
}
.float-left {
    float: left;
    padding: 0 0.25em;
}

.heb-text-justify {
    /* text-align: justify; */
    text-justify: inter-word;
}

.div-spacer-10 {
    height: 0.75em;
}
.div-spacer-13 {
    height: 0.85em;
}
.div-spacer-16 {
    height: 1em;
}

.div-v-spacer-20p {
    width: 10%;
    height: 1.5em;
    display: block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}