* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	/*max-width: 1280px;
	border: 1px solid gold;*/
}
body {
	text-align: right;
	font-size: 2vw;
	font-family: Arial, Helvetica, sans-serif;
	direction: rtl;
}

header {
	
}

.div-search > div {
	position: relative;
}
.div-search > div > img {
	top: 10px;
	left: 40px;
	position: absolute;
}
.div-search > div > input {
	border-top-right-radius: 10%;
}

main {
	/* background-color: aqua; */
}

section {
	/* background-color: aquamarine; */
}
.section-adv, .section-content {
	position: relative;
	z-index: 10;
	padding: 0.1em;
}
.section-adv > img, .section-content > img {
	display: inline-table;
	width: 98%;
}
.div-adv-paz-stations > img {
	display: inline-block;
	width: initial;
}
.section-content > img {
	border-bottom-right-radius: 10%;
}
.content-text {
	position: absolute;
	padding: 0.5em;
	width: 90%;
	height: 25%;
	right: 4%;
	/* bottom: 84%; */
	top: 70%;
	color: #fff;
	background-color: rgba(192, 192, 192, 0.6);
	border-bottom-right-radius: 10%;
	text-align: right;
	font-size: 70%;
	overflow: hidden;
}
.section-adv {
	position: relative;
	z-index: 10;
	padding: 0.3em 0.1em;
	border: 2px solid rgb(224,224,224);
	border-top-right-radius: 10%;
	font-size: 65%;
	margin: 0.45em;
}
.section-adv > h3 {
	padding: 0.5em;
	font-size: 99%;
}
.section-adv > hr {
	/* padding: 0.5em; */
	border-top: 0.1em solid rgb(224,224,224);
	width: 85%;
	/* size: 5px; */
}

footer {

}

h1 {
	text-align: center;
}
h2 {

}

h3 {
	font-size: 75%;
	/* display: block; */
}

ul {

}

ol {

}

li {

}

p.float-left {
	padding-bottom: 12px;
}
.div-content-expand > p.float-left > a {
	text-decoration: none;
	color: whitesmoke;
	/* padding-bottom: 12px; */
}
.div-content-expand {
	position: relative;
}
.div-adv-expand > p.float-left > a {
	text-decoration: none;
	color: initial;
	/* padding-bottom: 12px; */
}
.div-adv-expand > p.float-left > a:hover {
	/* text-decoration: none;
	color: initial; */
	background-color: antiquewhite;
	/* padding-bottom: 12px; */
}
.div-adv-expand > ul > li {
	list-style: none;
	text-align: left;
}
.div-adv-expand > ul > li > a {
	text-decoration: none;
	color: initial;
	/* display: block;  */
}
.paz-retail-and-trade > a:hover:after {
	content: "רשת תחנות התדלוק של פז היא הגדולה בישראל, ומונה כ-275 תחנות תדלוק ברחבי הארץ. מתוכן, כ-50 משמשות גם כמתחמים קמעונאיים ("פז סנטר"), ובכ- 235 מהן פועלות חנויות נוחות תחת המותג Yellow.";
	display: block;
	position: absolute;
	/* font-size: larger; */
	left: 25%;
	bottom: 50%;
	/* width: 150%;
	height: 150%; */
	background-color: brown;
}
.div-adv-paz-stations {

}

.contact-form, .contact-details > div {
	/* background-color: rgba(192, 192, 192, 0.6); */
	border: 2px solid rgb(224,224,224);
	border-top-right-radius: 10%;
	text-align: right;
}
.contact-details {
	padding-left: 200px;
}
.contact-form > h3, .contact-details h3 {
	padding: 0.5em 1em 0 0;
}
.contact-form > p, .contact-details p {
	font-size: 60%;
	padding: 0.3em 1em 0 0;
}
.ulcontact-text {
	padding: 0.5em;
	width: 90%;
	height: 25%;
	right: 4%;
	top: 70%;
	color: #fff;
	background-color: rgba(192, 192, 192, 0.6);
	border-bottom-right-radius: 10%;
	text-align: right;
	font-size: 50%;
}

.main-div {
	width: 100%;
	padding-top: 1em;
}

.page-header > p {
	margin: 0.5em;
	padding-right: 0.5em;
}
.page-header > hr {
	padding: 0.5em;
	border-top: 0.1em solid rgb(224,224,224);
	border-right: none;
	border-left: none;
	border-bottom: none;
	width: 85%;
	float: right;
	margin: 0 1em 0 10em;
	/* size: 5px; */
}

.form-frame {
	/* border: 2px solid black;
	background-color: bisque; */
	width: 70%;
	font-size: 60%;
	height: auto;
	/* display: inline; */
}
.row-frame > label {
	float: right;
	/* justify-items: right; */
	margin: 0.15em 0.3em;
	padding: 0.15em 0 0 0.3em;
	/* display: inline-block;  */
	width: 28%;
	/* background-color: rgb(220, 233, 229); */
}
.row-frame > input,  {
	float: left;
	justify-items: left;
}
input[type="text"], 
input[type="email"], 
input[type="tel"],
textarea {
/* input[type="number"], input[type="range"], input[type="file"], 
input[type="hidden"], input[type="email"], 
, progress, input[type="email"]  { */ 
	margin: 2px 5px;
	padding: 2px 0 0 5px;
	width: 67%;
}
input[type="button"], input[type="submit"] {
	background-image: linear-gradient(to bottom right, rgb(10,162,227), rgb(2,82,139));
	border-top-right-radius: 0.25em;
	margin: 0.6em 1.25em 0.6em 0;
	padding: 0.3em;
	width: 5em;
	float: left;
}
textarea {
	font-family: inherit;
}
/*
input[type="checkbox"], input[type="radio"] {
	margin: 10px 5px;
	padding: 2px 0 2px 5px;
	width: 15%;
}
*/
input:invalid {
	/* background-color: lightpink; */
}

input:valid {
	border: 1px solid aquamarine;
}

.astrix {
	color: red;
	font-weight: bold;
}

label {
	user-select: none;
}
label.column {
	/* width: 35%;
	float: left; */
}

#cbLabel #rbLabel {
	margin: initial;
}


.fieldset {
	 margin: 5px;
 }

.row-frame {
	padding: 2px 0.6em;
	display: block;
 }

.column {
	 float: left;

 }
 /* .column::after {
	content: "";
	clear: both;
	display: table;
 } */

.hidden {
	 display: none;
 }
.left-float {
	 /* align: right; */
	 text-align: left;
 }
 .narrow-padding {
	 margin: 0;
 }
 /* fieldset { border:1px solid green }

legend {
  padding: 0.2em 0.5em;
  border:1px solid green;
  color:green;
  font-size:90%;
  text-align:right;
  } */

 /* input[type="text"].column {
	width: 65%;
*/

.float-right {
	float: right;
}
.float-left {
	float: left;
	padding: 0 0.25em;
}

.heb-text-justify {
	/* text-align: justify; */
	text-justify: inter-word;
}

.div-spacer-10 {
	height: 0.75em;
}
.div-spacer-13 {
	height: 0.85em;
}
.div-spacer-16 {
	height: 1em;
}

.div-v-spacer-20p {
	width: 10%;
	height: 1.5em;
	display: block;
}
.col-wd-100 {
	width: 100%;
}
.col-wd-50 {
	width: 50%;
}
.col-wd-33-3 {
	width: 33.3%;
}
.col-wd-33 {
	width: 33%;
}
.col-wd-32 {
	width: 32%;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}